/node_modules
/vendor
/public/hot
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
storage/framework/.DS_Store
storage/framework/views/.DS_Store
.DS_Store
__pycache__
abstracts.txt
python/models/*
python/abstracts.txt
supervisord.log
supervisord.pid
dump.rdb
/public/js/data